body {
    background: #747474;
    color: white;
    font-family: Consolas, monospace;
}
#typing-input {
    transition: all .5s;
    font-size: 20px;
    background: black;
    color: white;
    border-radius: 15px;
    border: 4px solid red;
    padding: 10px;
    width: 95%;
    height: fit-content;
}
#typing-input::-webkit-scrollbar {
    width: 0px;
    background: red;
}
.keybord{
	display: flex;
	gap: 10px;
}
.mouse {
	width: 20%;
	height: auto;
	padding: 20px;
	background: transparent;
    border-radius: 10px;
    background: black;
}
.main {
    margin: 0 auto;
    padding: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 75%;
    border-radius: 10px;
    background: black;
}
.line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6 {
    display: flex;
    justify-content: space-around;
}
button {
    width: 5%;
    height: 45px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    font-size: 10px;
    color: white;
    background: red;
    transition: all .5s;
}
button:hover {
    background: #a3a3a3;
}
.line-1 button {
    width: 6%;
    height: 40px;
}
#sp {
    width: 10px;
    background: black;
}
#Delete {
    width: 10%;
}
#Backspace {
    width: 13%;
}
#Tab {
    width: 14%;
}
#CapsLock {
    width: 16%;
}
#Enter,#Shift {
    width: 18%;
}
#Space {
    width: 40%;
}
.mouse-body{
	height: 250px;
	width: fit-content;
	display: flex;
	gap: 10px;
	margin: 0 auto;
	padding: 15px;
	padding-top: 40px;
    text-align: center;
    background: black;
    box-shadow: red 0px 0px 50px;
    border: 5px solid red;
    border-radius: 150px;
}
.mouse-body div {
	border-radius: 15px;
	background: red;
	width: 40px;
	font-size: 20px;
	padding-top: 50px;
	height: 80px;
	transition: all .5s;
}
.mouse-body div:hover {
    background: #a3a3a3;
}
#ml {
	border-radius: 130px 10px;
}
#ms {
	border-radius: 50px 50px;
	height: 40px;
}
#mr {
	border-radius: 10px 130px;
}
#pos {
	padding: 10px;
	font-size: 25px;
}
